@page "/"
@namespace blasve.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor-Svelte</title>
    <base href="~/" />
    <link href="~/main.css" rel="stylesheet" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="script" href="~/serviceworker.js" />
    <link rel="apple-touch-icon" href="~/icon-192x192.png" />
    <meta name="theme-color" content="#1ff042" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/main.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js')
                .then(function () {
                    console.log('Service Worker Registered!');
                });
        }
    </script>
</body>
</html>
