@page "/"
@inherits BlazorStateComponent
@inject JsService JsService

<div class="container-fluid vh-100">
    <div class="fixed-bottom p-4 overflow-auto">
        <menu></menu>
        <terminal></terminal>
    </div>
</div>


@code {
    protected AppState AppState => GetState<AppState>();
    protected Data.W01012A.Form AB => AppState.AddressBook;
    protected void StateChanged(object sender, EventArgs e) => StateHasChanged();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsService.InitTerminal("terminal");
            JsService.StateChanged += StateChanged;
        }
    }
}
