@inherits LayoutComponentBase

<div class="content">
    <AuthorizeView>
        <NotAuthorized>
            <blasve.Pages.Login></blasve.Pages.Login>
        </NotAuthorized>
        <Authorized>
            @Body
        </Authorized>
    </AuthorizeView>
</div>
